<h1 class="display-4 mb-4">
    add things
</h1>
<form action="/add" method="post">
<div class="formgroup">
    <input type="text" name="thing" class="form-control form-control-lg" placeholder="add something">
    <input type="submit" value="add" class='btn btn-dark btn-lg'>
    <a href="/" class="btn btn-danger btn-lg">Cancel</a>
</div>
</form>