<h1 class="display-4 mb-4">
    add things
</h1>
<form action="/addContact" method="post">
    <div class="mb-3">
        <label class="form-label">Teste</label>
        <input type="text" class="form-control" >
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>